<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ability.description %>
</p>

<p>
  <strong>Is ultimate:</strong>
  <%= @ability.is_ultimate %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @ability.hero %>
</p>

<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
